$color-black: #000000;
$color-white: #ffffff;
$color-222222: #222222;
$color-fon: #E5E5E5;
$color-fon2: #EBEBEB;
$button-color: #005FA3;
$color-button-active: #053c64;
$h2-color: #BDBDBD;

$bold: 700;
$extra-bold: 900;

$wrapper-width: 1120px;

$large: 980px;
$smoll: 740px;
$mobile: 576px;