.customers{
    background-color: $color-fon2;

    .wrapper {
        padding: 100px 0;
    }
    .wrapper p{
        color: #333333;
        font-size: 48px;
        font-weight: 900;
        margin: 40px 0 40px;

        .swiper{
            .swiper-wrapper{
                //
            }
        }
    }
}